* {
    line-height: 150%;
}

body {
    background-color: aqua;
    color: brown;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 28px;
}

ul li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.important {
    font-weight: bold;
}


.blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}